:root {
    --white: #fff;
    --primary: #007BFF;
    --secondary: #E63946;
    --contrast: #ffffff;
    --dark: #434343;
    --cream: #FAEBD7;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-acenter {
    display: flex;
    align-items: center;
}

.flex-jcenter {
    display: flex;
    justify-content: center;
}

.flex-jend {
    display: flex;
    justify-content: end;
}

.flex-jbetween {
    display: flex;
    justify-content: space-between;
}

.w-fit {
    width: fit-content;
}

.bg-hero {
    background: url('../public/assets/img/home.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.bg-dark {
    background: var(--dark) !important;
}

.bg-gradient-dark {
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.bg-gradient-trans {
    background: linear-gradient(180deg, transparent, rgb(255, 255, 255));
}

.bg-gradient-trans-black {
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0));
}

.bg-dark-2 {
    background: #111 !important;
}

.bg-mask {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.bg-primary {
    background: var(--primary) !important;
}

.bg-cream {
    background: var(--cream) !important;
}

.bg-island {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8) 100%), url('/assets/img/island.jpg');
    width: 450px;
    height: 450px;
    position: relative;
    background-size: auto, cover;
    /* Maintain image aspect ratio */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
    text-decoration: none !important;
    clip-path: polygon( 16px 0, calc(100% - 16px) 0, 100% 16px, 100% calc(100% - 16px), calc(100% - 16px) 100%, 16px 100%, 0 calc(100% - 16px), 0 16px);
}

.bg-logo {
    background: rgba(255, 255, 255, 0.4) url('/assets/img/Logo.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -10;
    background-repeat: no-repeat;
}

.island-slider {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 450px;
    height: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), transparent);
    transition: all 0.6s;
    pointer-events: none;
}

.bg-island:hover~.island-slider {
    height: 445px;
}

.bg-island h3 {
    color: #fff;
    background-color: var(--secondary);
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .bg-island {
        width: 360px;
        height: 360px;
    }
    .island-slider {
        width: 360px;
    }
    .bg-island:hover~.island-slider {
        height: 355px;
    }
}

.bg-glass {
    background: rgba(255, 255, 255, 0.3);
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-gradient-secondary {
    background: linear-gradient(90deg, var(--white), var(--secondary)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
}

.text-gradient-primary {
    background: linear-gradient(90deg, var(--white), var(--primary)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
}

.text-indigo {
    color: oklch(51.1% 0.262 276.966);
}

.fs-large {
    font-size: 68px;
}

.fs-18 {
    font-size: 18px;
}

.fs-small {
    font-size: 16px;
}

.fs-xsmall {
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}

.about-frame img {
    border: 10px solid #fff;
}

.about-frame {
    position: relative;
    z-index: 1;
}

.about-frame::before {
    content: "";
    position: absolute;
    left: -45px;
    top: 34px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border: 7px solid var(--secondary);
}

.hover-zoom {
    transform: scale(1.0);
    transition: all 0.5s;
}

.hover-zoom:hover {
    transform: scale(1.02);
    transition: all 0.5s;
}

.hover-height {
    overflow: hidden;
    transition: all 0.6s;
}

.hover-height:hover {
    max-height: fit-content !important;
    transition: all 0.6s linear;
}

.hover-shadow-colored {
    box-shadow: none;
    transition: all 0.5s;
}

.hover-shadow-colored:hover {
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    transition: all 0.5s;
}

.hover-shadow-1 {
    box-shadow: none;
    transition: all 0.5s;
}

.hover-bg-gray:hover {
    background-color: #e6e5e5;
    transition: all 0.4s;
}

.hover-bg-primary:hover {
    background-color: var(--primary);
    transition: all 0.4s;
}

.hover-shadow-1:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all 0.5s;
}

.hover-opacity {
    opacity: 0;
    transition: all 0.5s;
}

.hover-op-container:hover .hover-opacity,
.hover-opacity:hover {
    opacity: 1;
    transition: all 0.5s;
}

.hover-decoration {
    text-decoration: none;
    transition: all 0.5s;
}

.hover-decoration:hover {
    text-decoration: underline;
    transition: all 0.5s;
}

.swiper {
    width: 100%;
    height: 100%;
    /* background: #000; */
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* padding: 40px 60px; */
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.5s;
    max-width: 225px;
    z-index: 4;
}

.side-toggler {
    position: relative;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 4;
}

.side-toggler.change {
    left: 225px;
    transition: all 0.5s;
}

.admin-content {
    position: relative;
    left: 225px !important;
    width: calc(100vw - 225px);
    z-index: 4;
}

@media screen and (max-width:720px) {
    .sidebar {
        left: -225px;
    }
    .sidebar.change {
        left: 0;
        z-index: 5;
    }
    .admin-content {
        left: 0 !important;
        width: 100%;
    }
}

.my-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5;
}


/* In a global CSS file or your main App.css */

.my-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    /* Higher than other content */
}

.irregular-shape {
    clip-path: polygon( 50% 0%, 65.45% 6.45%, 76.55% 17.1%, 85.35% 29.3%, 91.35% 42.9%, 94.25% 57.1%, 94.25% 71.9%, 91.35% 86.1%, 85.35% 100%, 76.55% 112.9%, 65.45% 123.55%, 50% 130%, 34.55% 123.55%, 23.45% 112.9%, 14.65% 100%, 8.65% 86.1%, 5.75% 71.9%, 5.75% 57.1%, 8.65% 42.9%, 14.65% 29.3%, 23.45% 17.1%, 34.55% 6.45%);
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.irregular-shape img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* src/components/LoadingAnimation.css */

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure it's on top of everything */
}

.spinner {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}